* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: beige;
}

.container {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    color: black;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.review {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

.review p {
    font-size: 15px;
}

.review img {
    font-size: 10px;
    width: 18px;
    margin-right: 5px;
}

.container h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.select-specs span {
    display: inline-block;
    text-align: center;
    width: 55px;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 2px;
}

.select-specs span:hover {
    cursor: pointer;
    background: khaki;
    color: rgb(10, 10, 10);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 5px;
}

.price p {
    font-size: 15px;
    font-weight: 600;
}

.price a {
    text-decoration: none;
    background: rgb(167, 166, 166);
    color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 6px;
}
